@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using AlaskaAirlines.ViewModels
@model FlightViewModel

<h2 class="text-center">Search For Flights!</h2>

<form asp-controller="Home" asp-action="Index" method="get">
    <div class="form-group">
		<label for="from">From: </label>
        <select class="form-control" id="from" name="From" asp-items="Model.Airports">
			@foreach (var a in Model.Airports)
			{
                <option value="@a.Code">@a.Name</option>
			}
        </select>

		<label for="to">To: </label>
		<select class="form-control" id="to" name="To" asp-items="Model.Airports">
            @foreach (var a in Model.Airports)
            {
                <option value="@a.Code">@a.Name</option>
            }
        </select>
		<br />
        <div class="center-block text-center">
            <button class="btn btn-primary btn-lg" type="submit">Search</button>
        </div>
	</div>
</form>

@if (Model.Flights != null)
{
    <h2 class="text-center">Flights</h2>

    <table class="table table-bordered">
        <thead>
            <th>From</th>
            <th>To</th>
            <th>Flight #</th>
            <th>
                @Html.ActionLink("Departs", "Index",
                new {To = Request.QueryString["To"],
                From = Request.QueryString["From"],
                SortBy = "Departs"})
            </th>
            <th>
                @Html.ActionLink("Arrives", "Index",
                new {To = Request.QueryString["To"],
                From = Request.QueryString["From"],
                SortBy = "Arrives"})
            </th>
            <th>
                @Html.ActionLink("Main Cabin", "Index",
			    new {To = Request.QueryString["To"],
			    From = Request.QueryString["From"],
			    SortBy = "MainCabin"})
		    </th>
            <th>
                @Html.ActionLink("First Class", "Index",
			    new {To = Request.QueryString["To"],
			    From = Request.QueryString["From"],
			    SortBy = "FirstClass"})
            </th>
        </thead>
        <tbody>
            @foreach (var f in Model.Flights)
            {
                <tr>
                    <td>@f.From</td>
                    <td>@f.To</td>
                    <td>@f.FlightNumber</td>
                    <td>@f.Departs</td>
                    <td>@f.Arrives</td>
                    <td>$ @f.MainCabinPrice</td>
                    <td>$ @f.FirstClassPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Select a From and To destination to shop available flights!</p>
}