@{
    ViewData["Title"] = "Flight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using AlaskaAirlines.Models
@model List<Flight>

<h2>Flights</h2>

<table>
    <thead>
        <th>From</th>
		<th>To</th>
		<th>Flight #</th>
		<th>Departs</th>
		<th>Arrives</th>
		<th>Main Cabin</th>
		<th>First Class</th>
	</thead>
	<tbody>
        @foreach (var f in Model)
		{
            <tr>
                <td>@f.From</td>
    			<td>@f.To</td>
    			<td>@f.FlightNumber</td>
    			<td>@f.Departs</td>
    			<td>@f.Arrives</td>
    			<td>@f.MainCabinPrice</td>
    			<td>@f.FirstClassPrice</td>
		    </tr>
		}
	</tbody>
</table>